<div class="io-pages-header ion-no-padding">
  <div class="back-btn">
    <ion-button
      size="small"
      class="ion-no-padding"
      (click)="goBack()"
      fill="clear"
    >
      <ion-icon
        slot="icon-only"
        name="chevron-back-outline"
        class="ion-no-padding"
      ></ion-icon>
    </ion-button>
  </div>
  <ion-toolbar mode="ios">
    <ion-title class="ion-no-padding">{{ title }}</ion-title>
    <!-- <div class="io-upi-logo">
      <ion-img
        src="assets/images/UPI-Color.png"
        alt=""
        class="upi-logo"
      ></ion-img>
    </div> -->
  </ion-toolbar>
</div>
