<ion-content class="ion-no-padding ion-no-margin">
  <div class="page-background">
    <div class="div-box-card">
      <div class="logo-div-background">
        <div class="logo-div2-background">
          <div class="login-img-box">
            <img class="login-img-top" src="/assets/indian-overseas-bank.svg" alt="">
          </div>
          <div class="div-box-img-text">
            <img src="/assets/ion-text-icon.svg" alt="" class="img-class">
          </div>
          <div class="box-line">
            <div class="line-div">
            </div>
          </div>
          <div class="iob-text-box">
            <ion-label class="iob-name-text">{{'bhim_iob_upi'| translate}}</ion-label>
          </div>
        </div>
      </div>

    </div>
    <div class="welcome-div-bg">
      <ion-label class="welcome-text-label">
        <p class="welcome-text">Welcome To</p>
        <p class="welcome-text">Indian Overseas Bank’s</p>
        <p class="welcome-text">Merchant Application</p>
      </ion-label>
    </div>
    <div class="div-bottom-btn">
      <ion-button class="primary-button-new" (click)="onNext()" expand="block">{{'proceed'|
        translate}}</ion-button>
    </div>
  </div>


</ion-content>